<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      lang="zh-CN">
    <head th:replace="layout/head::head(${cssPaths})"></head>
    <body>
        <div class="app header-default side-nav-dark">
            <div class="layout">
                <div th:replace="layout/navbar::navbar"></div>
                <div th:replace="layout/nav::nav"></div>
                <div class="page-container">
                    <div class="main-content">
                        <div th:replace="layout/title::title"></div>
                        <div class="container-fluid" layout:fragment="content"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="preloader">
            <div class="loader" id="loader-1"></div>
        </div>
        <footer th:include="layout/foot::foot(${scriptPaths})"></footer>
        <div layout:fragment="foot"></div>
    </body>
</html>