<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:fragment="header(title,cssPaths)">
    <title th:text="${title}"></title>
    <meta name="description" content="吴俊龙简历" />
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Window-target" content="_top"/>
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content="吴俊龙" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="author" content="吴俊龙" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{'https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css'}" />
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css" th:href="@{'https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css'}" />
    <link rel="stylesheet" type="text/css" href="/static/css/wjl_styles.css" th:href="@{'/static/css/wjl_styles.css'}" />
    <link rel="stylesheet" type="text/css" th:each="cssPath,status:${#strings.setSplit(cssPaths,',')}" th:href="@{${cssPath}}"/>
    <link rel="icon" type="image/x-icon" th:href="@{'/static/favicon.ico'}"/>
</head>
</html>